### Blast Options ### 
blastn # First line of blast options must be name of blast+ program e.g. blastn, blastp, blastx, etc.
-task dc-megablast
-db FHM_assembly # Name of local database (make sure to export BLASTDB=/path/to/database/ prior to running)
-outfmt 6 sseqid # Just return the subject ID
-max_target_seqs 6 # Show only 6 best hits

### Exonerate Options ###
-m coding2genome # Exonerate model e.g. est2genome, coding2genome, protein2genome, etc.
--maxintron 20000
--minintron 10
--ryo ---START RYO---\n>%qi length=%ql alnlen=%qal Identity=%pi Similarity=%ps\n>%ti length=%tl alnlen=%tal\n---END RYO---\n # Roll-your-own format
--showalignment FALSE
--showvulgar FALSE
--showtargetgff TRUE
--cores 2
